body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.mission
{
    color:orange;
}
.flexiable-container
{
    display: flex;
    padding: 20px;
}
.text-container
{
    width: 50%;
    
}
.image-container
{
    width: 50%;
}
.image-container img
{
    width:80%;
    height: 500px;
}

.link-Button
{
    text-decoration: none;
    padding: 10px 30px;
    border: 1px solid white;
    background-image: linear-gradient(red,orange);
    border-radius: 5px;
    color: white;
    
}
.heading-container
{
    text-align: center;
    font-weight: 700;
}
.mission-conatainer
{
    width: 33%;
    margin: 20px;
    padding: 40px;
    border: 1px solid white;
    border-radius: 5px;

}
.firstDiv
{
    background-color: #ceecf0;
}
.secondDiv
{
    background-color: #f1cbcb;
}
.thirdDiv
{
    background-color: #ebe1c8;
}
.mission-conatainer img
{
    width:150px;
    height: 150px;
}
.codeimg-container img
{
    width:400px;
    height: 400px;
}
.codeimg-container
{
    width: 50%;
}